body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}
.head a {
    display: block;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

img {
    display: block;
}

input,
textarea {
    font-family: inherit;
    line-height: inherit;
    resize: none;
}

/* HEADER */

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    letter-spacing: 0.03em;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-top-part {
    color: #2e2f42;
}

.navigation-list-item-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-item:first-child .navigation-list-item-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: #404bbf;
}

.navigation-list-item:first-child .navigation-list-item-link {
    color: #404bbf;
}

.navigation-list-item-link:hover,
.navigation-list-item-link:focus,
.navigation-list-item-link:active {
    color: #404bbf;
}

.contacts {
    font-style: normal;
}

.contacts-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.head .logo {
    margin-right: 76px;
}

.head {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);

}

.header {
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.navigation-container {
    display: flex;
    margin-right: 332px;
    align-items: center;
    

}

.navigation-list {
    display: flex;
    gap: 40px;

}

.contacts-list {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
.menu-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-btn:hover {
    fill:#404bbf;
}
/* HERO SECTION */

.hero {
    background-color: #2e2f42;
    padding: 188px 0 188px;
    display: flex;
    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    margin: 0 auto;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin-bottom: 48px;
}

.hero-btn {
    cursor: pointer;
    background-color: #4d5ae5;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    display: block;
    min-width: 169px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
    ;
}

/* BENEFITS */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.item-descr {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.benefits-list {
    display: flex;
    gap: 24px;

}

.benefits-list-item {
    flex-basis: calc((100% - 72px) / 4);
}

.benefits-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
}


/* TEAM */

.team {
    background-color: #f4f4fd;
}

.title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;

}

.team-list-item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-list {
    display: flex;
    gap: 24px;
    flex-basis: calc((100% - 72px) / 4);
    flex-wrap: wrap;
}

.team-list-item .item-text {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}

.social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
}

.social-list-item {
    width: 40px;
    height: 40px;
}

.social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team .social-link:hover,
.team .social-link:focus,
.mobile-menu-overlay .social-link:hover,
.mobile-menu-overlay .social-link:focus
{
    background-color: #404bbf;
}

.social-icon {
    fill: #f4f4fd;
}

/* PORTFOLIO */

.portfolio .item-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    flex-basis: calc((100% - 48px) / 3);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    cursor: pointer;

}

.portfolio-list-item:hover .text {
    transform: translateY(0%);
}

.portfolio-list-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img {
    position: relative;
    overflow: hidden;
}

.portfolio .text {
    position: absolute;
    top: 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}
.portfolio-list .item-title {
    text-align: left;
}

/* FOOTER */

.bottom {
    background-color: #2e2f42;
    padding: 100px 0 100px;
    margin: 0 auto;
}

.logo-bottom-part {
    color: #f4f4fd;
}

.bottom-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.bottom .logo {
    display: inline-block;
    margin-bottom: 16px;
}

.bottom-social-links-text,
.bottom-form-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.social-list-bottom {
    display: flex;
    gap: 16px;
}

.bottom .social-link:hover,
.bottom .social-link:focus {
    background-color: #31d0aa;
}

.bottom-logo-container {
    margin-right: 120px;
}

.bottom .container {
    display: flex;
    align-items: baseline;
}

.bottom-social-links-container {
    margin-right: 80px;
}

.bottom-form::placeholder {

    color: #ffffff;
}

.bottom-form {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    border: 1px solid transparent;
    background-color: transparent;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    outline: none;
    color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.bottom-form:placeholder-shown {
    border: 1px solid #fff;
}

.bottom-form:focus-within {
    border-color: #404bbf;
    color: #fff;
}

.bottom-btn {
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 8px 24px;
    background-color: #4d5ae5;
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 165px;
}

.bottom-btn:hover,
.bottom-btn:focus {
    background-color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-icon {
    fill: #fff;
    margin-left: 16px;
}

.bottom-form-input-and-btn {
    display: flex;
    gap: 24px;
}

/* MODAL OVERLAY */

.modal-overlay {
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: rgba(46, 47, 66, 0.4);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: center;
    z-index: 999;
    opacity: 0;
    pointer-events: none;

}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal-window {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fcfcfc;
    min-height: 584px;
    width: 408px;
    border-radius: 4px;
    box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal-window-text {
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    margin: 0 24px;
}
.input-container {
    margin-bottom: 8px;
}
.form-input {
    width: 100%;
    height: 40px;
    padding: 4px;
    color: #212121;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input::placeholder {
    color: #616161;
}

.form-input:focus,
.form-input-comment:focus
{
    border-color: #4d5ae5;
}
.comment-container {
    margin-bottom: 16px;
}
.form-input-comment {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        width: 100%;
        height: 120px;
        padding: 4px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        outline: transparent;
        background-color: transparent;
        padding: 8px 16px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label {
    display: block;
    margin-bottom:  4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.form-button {
    display: block;
    align-items: center;
    justify-self: center;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button:hover {
    background-color: #404bbf;
    
}
.privacy-container {
    margin-bottom: 24px;
}
.privacy-lable {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.privacy-policy {
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
    font-size: 12px;
}

.form-input::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.input-wrapper:focus-within .input-img
 {
    fill: #4d5ae5;
}

.input-wrapper {
    position: relative;
}
.input-img {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-img {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
}

.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close:hover .close-img,
.modal-close:focus .close-img
 {
    fill: #FFF;
}
.custom-check {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    background-color: #f4f4fd;
    display: inline-flex;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

#user-privacy:checked~ .privacy-lable .custom-check {
    background-color: #404bbf;
    border: none;
    fill:#f4f4fd;
}

/* MOBILE MENU */

.mobile-menu-overlay {
        background:rgba(46, 47, 66, 0.4);
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0%;
        left: 0%;
        display: flex;
        justify-content: center;
        z-index: 999;
        opacity: 0;
        pointer-events: none;
}
.mobile-menu-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}
.mobile-menu-window {
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: #fff;
        min-height: 640px;
        transform: translate(-50%, -50%);
        width: 320px;
        padding-left: 16px;
        padding-top: 72px;
        padding-bottom: 40px;
}
.mob-navigation-list-item-link {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-navigation-list-item-link:hover,
.mob-navigation-list-item-link:focus {
    color: #4d5ae5;
}
.mob-navigation-list-item:first-child .mob-navigation-list-item-link {
        color: #404bbf;
}
.mob-navigation-list {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 168px;
}
.mob-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.mob-contacts {
    margin-bottom: 48px;
}
.mob-contacts-link {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
        font-style: normal;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-contacts-link:hover,
.mob-contacts-link:focus {
    color: #4d5ae5;
}
.mobile-menu-overlay .social-list {
    gap: 40px;
    justify-content: left;
}


/* MOBILE */

@media (max-width:767px) {
    .container {
        max-width: 320px;
    }
    .contacts,
    .navigation-list,
    .benefits-icon-container {
        display: none;
    }
    .menu-btn
     {
        display: block;
    }
    .container.header {
        padding: 16px;
    }
    .navigation-container {
        margin:0;
    }
    .header {
        justify-content: space-between;
    }
    .head .logo {
        margin:0;
        }
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/people-office\(320x432\).jpg);
        max-width: 320px;
        padding: 72px 52px;
        justify-content: center;
    }
    .hero-title {
        font-size: 36px;
    }
    .benefits-list {
        flex-direction: column;
        gap: 72px;
        align-items: center;
        justify-content: center;
        }
    .benefits-list-item {
        max-width: 288px;
    }
    
    .benefits .item-title{
        font-weight: 700;
        font-size: 36px;
        text-align: center;
        }
    .item-descr {
        font-weight: 500;
        }
    .team-list {
        gap: 72px;
        justify-content: center;
    }
    .portfolio-list {
        justify-content: center;
    }
    .portfolio-list-item {
        max-width: 288px;   
    }
    .bottom .container {
        flex-direction: column;
        gap: 72px;
        align-items: center;
        text-align: center;
    }
    
    .bottom-logo-container,
    .bottom-social-links-container,
    .bottom-form-container {
        margin-right: 0;
    }
    
    .bottom-form-input-and-btn {
        flex-direction: column;
    }
    .bottom-btn {
        width: 165px;
        margin: 0 auto;
    }
    .bottom-form {
            opacity: 0.3;
    }
    }
@media (min-width:768px) and (max-width:1157px) {
    .container {
        max-width: 768px;
        padding: 0;
    }
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office\(768x436\).jpg);
        max-width: 768px;
        padding: 112px 136px;
        background-size:;
    }
    .head .logo
     {
            margin-right: 120px;
    }
    .navigation-container {
        margin-right: 120px;
    }
    .contacts-list {
        flex-direction: column;
        gap: 12px;

    }
    .benefits-icon-container {
        display: none;
    }
    .benefits-list {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .benefits-list-item {
        flex-basis: calc((100% - 24px) / 2);
        max-width: 356px;
    }
    .benefits-list .item-title {
        font-weight: 700;
        font-size: 36px;
    }
    .benefits-list .item-descr {
        font-weight: 500;
    }
    .team-list {
        justify-content: center;
    }
    .portfolio-list {
        justify-content: center;
    }
    .bottom .container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
    justify-content: start;
    padding-left: 108px;

  }
  .bottom-logo-container {
    margin-right: 0;
}
.bottom-social-links-container {
    margin-right: 0;
}
.bottom-form {
    opacity: 0.3; 
}
.bottom-form-container {
    margin-top: 72px;
}

}                
